.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.done  {
  text-decoration: line-through;
  background-color: #E5E4E3;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.time{
  float: right;
  padding-right: 10px;
}

#textInput {
  width: 70%;
}

#numberInput {
  width: 30%;
}

.app-container{
  padding-top: 50px;
}

.app-container .btn-warning{
  color: #EBC3BC;
  background: #fff;
  border-color: #b8b8b8;
  transition: all .2s ease-in;
}

.app-container .btn-warning:hover{
  color: #EBA598;
  border-color: #EB8875;
}

.form-control{
  box-shadow: none;
}

.progress-bar, .progress {
  box-shadow: none;
}

.progress-bar{
  background-color: #A1E5B7;
}

.add{
  color: #8a97d8;
}

.add:hover{
  color: #4d7999;
  border-color: #4d7999;
  background: #FFFFFF;
}

.add:focus{
  color: #4d7999;
  border-color: #4d7999;
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
}

.glyphicon-chevron-down, .grey, .glyphicon-user {
  color: #b8b8b8;
}

.comments, .glyphicon-comment{
  color: #FFDD8C;
}

.badge {
  padding: 4px 7px;
  background-color: #b8b8b8;
}
