.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}


.done  {
  text-decoration: line-through;
  background-color: #E5E4E3;
}

.app-container .ingress {
  color: #aaa;
  font-family: 'Open sans';
  font-size: 18px;
  margin-bottom: 30x;
}

.app-container h2 {
  font-family: 'Montserrat';
  font-size: 42px;
}

.time{
  float: right;
  padding-right: 10px;
}

#textInput {
  width: 70%;
}

#numberInput {
  width: 30%;
}

.app-container{
  padding-top: 50px;
}

.app-container .btn-warning{
  color: #EBC3BC;
  background: #fff;
  border-color: #eee;
  transition: all .2s ease-in;
}

.app-container .btn-warning:hover{
  color: #EBA598;
  border-color: #EB8875;
}

.form-control{
  box-shadow: none;
}

.progress-bar, .progress {
  box-shadow: none;
}

.progress-bar{
  background-color: #A1E5B7;
}

.add{
  color: #8a97d8;
}

.add:hover{
  color: #4d7999;
  border-color: #4d7999;
  background: #FFFFFF;
}

.add:focus{
  color: #4d7999;
  border-color: #4d7999;
  background: #FFFFFF;
  box-shadow: none;
  outline: none;
}

.glyphicon-chevron-down, .grey, .glyphicon-user, .comments {
  color: #b8b8b8;
}

 .glyphicon-comment{
  color: #FFDD8C;
}

.badge {
  padding: 4px 7px;
  background-color: #b8b8b8;
}
